---
import type { CollectionEntry } from "astro:content";
import YouTube from "./YouTube.astro";

export interface Props {
  record: CollectionEntry<"vinyl">;
}

const { record } = Astro.props;

const { artist, title, file_name, video_id } = record.data;

const label = `${title}, ${artist}`;
---

<div class="record-wrapper">
  <img
    alt={label}
    class="record-wrapper-image"
    draggable={false}
    height={256}
    loading="lazy"
    src={`/cover_images/${file_name}`}
    width={256}
  />

  {video_id ? <YouTube id={video_id} title={label} /> : null}
</div>

<style>
  .record-wrapper {
    position: relative;
    user-select: none;
    border-radius: 9999px;
  }

  .record-wrapper-image {
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    object-fit: cover;
  }
</style>
