---
import type { CollectionEntry } from "astro:content";
import YouTube from "./YouTube.astro";

export interface Props {
  record: CollectionEntry<"vinyl">;
}

const { record } = Astro.props;

const { artist, title, file_name, video_id } = record.data;

const label = `${title}, ${artist}`;
---

<div class="relative select-none rounded-full">
  <img
    alt={label}
    class="object-cover aspect-square rounded-full"
    draggable={false}
    height={256}
    loading="lazy"
    src={`/cover_images/${file_name}`}
    width={256}
  />

  {video_id ? <YouTube id={video_id} title={label} /> : null}
</div>
