---
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
  path: `/${string}`;
  className?: string;
  themeColor?: string;
}

enum ThemeColors {
  Black = "#000000",
  Green = "#32d74b",
  Indigo = "#5e5ce6",
  Pink = "#ff375f",
  Teal = "#64d2ff",
  Yellow = "#e3af09",
  Magenta = "#ff00ff",
}

const {
  title,
  description = "Freelance UI Engineer, Berlin.",
  path,
  className = "bg-black text-white",
  themeColor = ThemeColors.Magenta,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="favicon-pixel.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta property="og:title" content={title} />
    <meta property="twitter:title" content={title} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="twitter:description" content={description} />

    <meta property="og:url" content={`https://reiner.systems${path}`} />
    <meta property="twitter:url" content={`https://reiner.systems${path}`} />
    <link rel="canonical" href={`https://reiner.systems${path}`} />

    <meta property="og:type" content="website" />

    <meta name="theme-color" content={themeColor} />

    <meta property="og:site_name" content="Jeff Reiner, UI Engineer" />
    <meta name="author" content="Jeff Reiner" />
    <meta property="twitter:site" content="@mirshko" />
    <meta property="twitter:creator" content="@mirshko" />
    <meta property="twitter:card" content="summary" />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/subset-Mint-Grotesk-Medium-V131.woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/subset-Mint-Grotesk-Medium-Italic-V131.woff2"
      crossorigin="anonymous"
    />

    <script defer src="/_vercel/insights/script.js"></script>
  </head>

  <body
    class={`antialiased font-arial-narrow -tracking-[0.03em] font-bold leading-[1.75rem] text-3xl sm:text-5xl sm:leading-[3.125rem] uppercase ${className}`}
  >
    <slot />
  </body>

  <Footer />
</html>
